.main1_logo {
    display: block;
    align-self: center;
    margin-left:auto;
    margin-right: auto;
    transition: all .5s;
    max-width: 40rem;
}
.main1_logo:hover {
    transform: scale(1.05)
}
